/* ~ GLOBAL ~ */

body{
	font-family:helvetica;
	text-align: center;
}



html {
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}


.popup .alert {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#handle_error textarea{
	font-size:2vh;
	width:90%;
	height:20%;
	margin-left:2%;
	margin-right:8%;
}

.container-fluid{
	text-align:center;
}

.headertext {
	color: black;
}

.gamecount {
	float: left;
	font-size: 20px;
}

.clickprompt {
	display: none;
	position: absolute;
	top: 20px;
	font-size: 30px;
	text-align: center;
	width: 100%;
}

.overlayed{
  opacity:0.4; 
  background:black; 
  width:100%;
  height:100%; 
  z-index:10;
  position:fixed;
}

.popup{
	display:none;
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	right:5%;
	background-color:white;
	border-radius:20px;
	border:2px solid #666666;
	z-index:20;
}

.popup p {
	text-align:left;
	margin-left:2%;
	margin-right:2%;
	margin-top:1.5%;
	margin-bottom:1.5%;
	font-size:3vh;
}

.canvas-container{ padding:0%; }

.canvas {
	display:inline-block;
	line-height:0px;
	border-radius:1%;
	background-color: #000000;
	padding: .13vw;
	z-index:4;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 10vh;
}

.usedTile, .tile {
	display:inline-block;
	height:7.1vw; /* 8.95 for 30-column, 10.20 for 24-col, 7.1 for 24-col*/
	width:7.1vw; /* 7.1 for 26 (?) col */
	background-color: #999999;
	margin:.14vw;
	z-index:5;
	overflow: hidden;
	white-space: nowrap;
}

.tile {	cursor:pointer; }

.blackPiece, .whitePiece {
	vertical-align:middle;
	position: relative;
	margin: 12.5% auto 0% auto;
	border-radius:100%;
	height:75%;
	width:75%;
	z-index:7;
}

.blackPiece { background-color:black; }

.whitePiece { background-color: white; }

.blackShadow, .whiteShadow {
	vertical-align:middle;
	position: relative;
	margin-right:auto;
	margin-left:auto;
	margin-top:-75%;
	border-radius:100%;
	height:75%;
	width:75%;
	z-index:6;
}

.blackShadow { box-shadow: 0px 0px 3vw .7vw white; }

.whiteShadow { box-shadow: 0px 0px 3vw .7vw #333333; }

._blank_ { min-height:1.6vh;}

.mybutton {
	position:absolute;
	cursor:pointer;
	color:#ffffff;
	transform: translate(-50%, 50%);
	border-radius:4px;
	border: 2px solid #666666;
	background-color:#999999;
	font-size:2.25vh;
	padding: 10px 10px; 
	text-decoration:none;
	background-repeat:no-repeat;
}
.mybutton:hover {
	background-color:#aaaaaa;
}

